# OS fayllari
Thumbs.db
desktop.ini
.DS_Store

# Muharrir
.vscode/
.idea/
*.swp

# Vaqtinchalik
*.log
.claude/

# Android ilova (mobile/)
mobile/node_modules/
mobile/www/
mobile/.tmp/
mobile/build-log.txt
mobile/dist/

# !!! Imzo kaliti va parollar — hech qachon GitHub'ga yuklanmasin
*.jks
*.keystore
keystore.properties
mobile/android/app/src/admin/assets/

# Kompyuter dasturi (desktop/)
desktop/node_modules/
desktop/dist/
